body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    height: 100%;
}

canvas {
    background: #000;
    display: block;
}

